.FormCtrl {
    align-content: center;
    justify-content: center;

}
.PokeSugge {
    position: absolute;
    align-content: center;
    width: 480px;
    height: 15rem;
    margin-top: 4.5rem;
    overflow-y: scroll;
    
    
}
.ListItemSugge{
    height: 4rem;
}