body{
    background-image: url("../../public/pokebody/pokeBody.jpg");
}


.NavBar{
   background-color: blanchedalmond;
   height: 5rem;
   animation: bounceInDown;
   animation-duration: 4s; 
}

.FormCtrl {
    align-content: center;
    justify-content: center;

}
.PokeSugge {
    position: absolute;
    align-content: center;
    width: 530px;
    height: 15rem;
    margin-top: 4.5rem;
    overflow-y: scroll;
    z-index: 4;
    
    
}
.ListItemSugge{
    height: 4rem;
}
.pokebolaClose{
width: 30rem;
height: 30rem;
animation: rotateIn; 
animation-duration: 3s;
animation-repeat: 2s;
}
.PokebolaOpen{
visibility: "hidden";
position: absolute;
width: 50rem;
height: 50rem;
animation: flip; 
animation-duration: 0.5s;


z-index: 0;

}
.CarouselPoke{
    margin-top: 0rem;
    height: auto;
    width: 32rem;
}

.pokemonImg{

    width: 10rem;
}
.namePoke{
    animation: bounceInUp; 
    animation-duration: 2s; 
    animation-delay: 0.1s;
  
}
.imgPoke{
    animation: bounceIn; 
    animation-duration: 2s; 
    animation-delay: 0.1s;
}

#input{
    animation: backInLeft; 
    animation-duration: 2s; 
    animation-delay: 0.1s;
}
#buttonSearch{
    animation: backInRight; 
    animation-duration: 2s; 
    animation-delay: 0.1s;
}